<h1>Posts</h1>
<br/>

<br/>
<table>
  <thead>
    <tr>
      <% if user_signed_in? %>
        <th>Content</th>
        <th>Author</th>
      <% else%>
        <th>Content</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <% if user_signed_in? %>
          <td><%= post.content %></td>
          <td><%= post.user_email.split('@').first.capitalize %></td>
          <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else%>
          <td><%= post.content %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
